<%- include("partials\\header.ejs") %>

    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                    efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static"> <strong
                            class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                        <h3 class="mb-0">Featured post</h3>
                        <div class="mb-1 text-body-secondary">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p> <a href="#"
                            class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#chevron-right"></use>
                            </svg> </a>
                    </div>
                    <div class="col-auto d-none d-lg-block"> <svg aria-label="Placeholder: Thumbnail"
                            class="bd-placeholder-img " height="250" preserveAspectRatio="xMidYMid slice" role="img"
                            width="200" xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg> </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static"> <strong
                            class="d-inline-block mb-2 text-success-emphasis">Design</strong>
                        <h3 class="mb-0">Post title</h3>
                        <div class="mb-1 text-body-secondary">Nov 11</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                            additional content.</p> <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#chevron-right"></use>
                            </svg> </a>
                    </div>
                    <div class="col-auto d-none d-lg-block"> <svg aria-label="Placeholder: Thumbnail"
                            class="bd-placeholder-img " height="250" preserveAspectRatio="xMidYMid slice" role="img"
                            width="200" xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg> </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-12">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Serving from the world
                </h3>
                <!-- To be dynamic Post content -->
                <% if(locals.posts.length < 1) { %>
                    <h5 class="display-9 link-body-emphasis mb-1 text-center">
                        No posts found. Please navigate to, add post button.
                    </h5>
                    <%} else { %>
                        <% locals.posts.forEach((post)=> { %>
                            
                            <article class="blog-post my-2">
                                <% let key=Object.values(post); %>
                                    <div class="container text-end">
                                        <button type="button" id="edit" class="btn btn-link text-secondary justify-content-center edit-btn" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalEdit" data-pid="<%=key[0] %>" data-title="<%=key[1] %>"
                                            data-content="<%=key[2] %>">Edit</button>
                                        <button type="button" id="delete" class="btn btn-link text-danger delete-btn" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalDelete" data-pid="<%=key[0] %>">Delete</button>
                                    </div>
                                    <p id="pid" style="display: none;" data-pid="<%=key[0] %>">
                                        <%=key[0] %>
                                    </p>
                                    <h2 id="title" class="display-5 link-body-emphasis mb-1" data-title="<%=key[1] %>">
                                        <%=key[1] %>
                                    </h2>
                                    <p id="date" class="blog-post-meta"><a href="#"></a></p>
                                    <p id="content" data-content="<%=key[2] %>">
                                        <%=key[2] %>
                                    </p>
                                    <hr>
                            </article>
                            <% }); %>
                                <% }%>
            </div>
            
    </main>

    <%- include("partials\\footer.ejs") %>